body{
  height: 100vh;
  background: linear-gradient(to right, #34B7F1 0%, #25D366 100%);
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.title {
  padding-bottom: 50px;
  text-align: center;
}

input {
  padding-top: 10px;
  background-color: transparent;
  padding: 5px 4px;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  font-size: 14px;
}