.join {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .join {
        flex-direction: column;
    }
}

.join-item {
    min-width: 500px;
    min-height: 280px;
    background-color: rgb(166, 177, 186);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 30px;
}

.join-item h2 {
    font-size: 36px;
}

.join-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 70px;
}

.join-item button {
    width: 30%;
    background-color: #34B7F1;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: normal;
    transition: 0.3s all linear;
}

.join-item button:hover {
    transform: scale(1.1);
    font-weight: bold;
}
